+++
title = "Capa"
linkTitle = "Capa"
+++

<!-- home page -->
{{< blocks/cover title="Welcome to Capa: Cloud Application API Project!" image_anchor="top" height="full" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/capa-cloud/capa-java">
        Download <i class="fab fa-github ml-2 "></i>
    </a>
</div>
{{< /blocks/cover >}}

<!-- block 1 -->
{{% blocks/lead color="primary" %}}
Capa (Cloud Application API): To be the high-level API layer for all application runtimes.
{{% /blocks/lead %}}

<!-- block 3-1 -->
{{< blocks/section >}}
{{% blocks/feature icon="fab fa-github" title="Give us your feedback!" url="https://github.com/capa-cloud/capa-java" %}}
We hope to hear from you [here](https://github.com/capa-cloud/capa-java/issues)!
{{% /blocks/feature %}}

<!-- block 3-2 -->
{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/capa-cloud/capa-java" %}}
We do a [Pull Request](https://github.com/capa-cloud/capa-java/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

<!-- block 3-3 -->
{{% blocks/feature icon="fab fa-github" title="Follow us on Github!" url="https://github.com/capa-cloud/capa-java" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}
